.content-section-mobile {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 30px 0;
}

li:hover.list-group-item.activity {
	background-color: #f5f5f5;
}

li.list-group-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

li:nth-child(2n).list-group-item.activity {
	background: #f9f9f9;
	padding-top: 1px;
	padding-bottom: 1px;
}

li:nth-child(2n):hover.list-group-item.activity {
	background-color: #f5f5f5;
}

li.list-group-item.date>p {
	margin-top: 3px;
	margin-bottom: 3px;
}

li.list-group-item.activity>p {
	margin-top: 3px;
	margin-bottom: 3px;
}

li.devPlan {
	background-color: #5cb85c;
}

i.animate-transform {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

i.animate-down {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

li.date {
	margin-left:-15px;
	margin-right:-15px;
}

span.name {
	font-size: 1.15em;
	/* 	float:right; */
}

span.note {
	
}

span.bell {
	
}
span.location {
}


span.category {
	float: right;
}


span.counter {
	float: right;
}

span.hour {
	float: right;
}

span.tutor {
	float: right;
/* 	font-size: 0.9em; */
}

span.group {
}

li.activity {
	
}
/**
*etc
*/
/* li.list-group-item.activity.ćwiczenia { */
/* 	background-color: #fcf8e3; */
/* } */

/* li.list-group-item.activity.lektorat { */
/* 	background-color: #fcf8e3; */
/* } */

/* li.list-group-item.activity.wykład,li.list-group-item.activity.wykład-do-wyboru */
/* 	{ */
/* 	background-color: #dff0d8; */
/* } */

/* li.list-group-item.activity.egzamin { */
/* 	background-color: #f2dede; */
/* } */

/* li .activity { */
/* 	background-color: #fff; */
/* } */
.collapsing {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}

button.devPlanParam {
	margin-bottom: 5px;
}

.navbar-collapse .navbar-form {
	border: none;
}

.navbar-form {
	width: auto;
}

.navbar-form.pull-right {
	padding-right: 0px;
}

@media print {
	a[href]:after {
		content: none;
	}
}

.btn-group {
	margin-bottom: 5px;
}
