.content-section-mobile {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 30px 0;
}

li:hover.list-group-item.activity {
	background-color: #f5f5f5;
}

li.list-group-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

li:nth-child(2n).list-group-item.activity {
	background: #f9f9f9;
	padding-top: 1px;
	padding-bottom: 1px;
}

li:nth-child(2n):hover.list-group-item.activity {
	background-color: #f5f5f5;
}

li.list-group-item.date>p {
	margin-top: 3px;
	margin-bottom: 3px;
}

li.list-group-item.activity>p {
	margin-top: 3px;
	margin-bottom: 3px;
}